#
# Linker script for NROM-128 games
#
MEMORY {
  # iNes header
  HEADER: start = 0, size = $0010, type = ro, file = %O, fill=yes, fillval=$00;
  # PRG-ROM
  ROM7:   start = $C000, size = $4000, type = ro, file = %O, fill=yes, fillval=$00;
}

SEGMENTS {
  INESHDR:  load = HEADER, type = ro, align = $10;
  CODE:     load = ROM7, type = ro, align = $100;
  VECTORS:  load = ROM7, type = ro, start = $FFFA;
}

FILES {
  %O: format = bin;
}
